<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mooc.spring.malinda.thevideoapp" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="video.diary.simple.READ" />
    <uses-permission android:name="video.diary.simple.WRITE" />

    <permission android:name="video.diary.simple.WRITE"></permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.VideoUploaderService"
            android:exported="false"
            android:process=":uploader" >
        </service>

        <activity
            android:name=".activities.VideoDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_video_details" >
        </activity>

        <provider
            android:name=".storage.VideoDiaryContentProvider"
            android:authorities="video.diary.simple"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".activities.EditVideoDetailsActivity"
            android:label="@string/title_activity_edit_video_details" >
        </activity>

        <service
            android:name=".services.VideoDownloadService"
            android:enabled="true"
            android:grantUriPermissions="true"
            android:readPermission="video.diary.simple.READ"
            android:writePermission="video.diary.simple.WRITE"
            android:exported="false" >
        </service>
    </application>

</manifest>
